.comics_item{
    box-sizing: border-box;
    margin-top: 15px;
    border: 1px solid white;
    border-radius: 10px;
    background-color:rgba(0, 0, 0,.6);
    padding: 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.comics_item__picture{
    height: 120px;
    width: 120px;
    border-radius: 10px;
    overflow: hidden;
}

.comics_item__picture-img{
    height: 100%;
    width: 100%;
    color: white;
}

.comics_item__info{
    height: 100%;
    width: 100%;
    flex-shrink: 10;
    color:white;
    text-align: center;
}

.comics_item__info p:first-child{
    font-size: 20px;
    margin: 0 20px;
    font-weight: bold;
}

.comics_item__info p:last-child{
    font-size: 16px;
    margin:10px 20px;
}
